%base-paragraph {
    color: rgb(19, 15, 15);
};

$desktop: 1000px;
$avatarWidth: 320px;

p {
    @extend %base-paragraph
};

body {
    @media (min-width: $desktop) {
        margin: 0% 15%;
    }
};

.top-bar {
    display: flex;
    background-color: black;
    justify-content: space-around;
    flex-direction: column;
    @media (min-width: $desktop) {
        flex-direction: row;
    };
    padding: 0% 20%;
    .button {
        border:  white solid;
        border-width: 0px 1px;
        height: 50px;
        width: 100%;
        font-weight: bold;
        &:hover {
            background-color: darkred;
            cursor: pointer;
        };
        p {
            color: white;
            text-align: center;
            vertical-align: middle;
        };
        
    };
};

.content {
    margin-top: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    @media (min-width: $desktop) {
        flex-direction: row;
    }
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $desktop) {
        align-items: flex-start;
    }
    .avatar {
        border-radius: 100%;
        overflow: hidden;
        width: 100%;
        @media (min-width: $avatarWidth) {
            width: $avatarWidth;
        }
        
    }
}

.contacts {
    width: 100%;
    ul {
        list-style: none;
        padding: 0 10%;
    }
    li {
        padding: 1rem 1rem;
        border-bottom: 1px solid silver;
        display: flex;
        align-items: center;
    }
    a {
        text-decoration: none;
        margin-left: 1rem;
    }
    img {
        width: 1.5rem;
    }

}

.description {
    padding: 0 10%;
}